{% extends 'base.html.twig' %}


{% block body %}
    <div class="d-flex justify-content-center flex-wrap pt-2">


        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h2>{% trans %}Please Login{% endtrans %}</h2>
            <label for="inputUsername">{% trans %}LoginMsg{% endtrans %}</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control"
                   required autofocus>
            <br/>
            <label for="inputPassword">{% trans %}Password{% endtrans %}</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

                <br/>
            <button class="btn btn-lg btn-primary" type="submit">
               {%  trans %}Sign in {% endtrans %}
            </button>
        </form>
    </div>
{% endblock %}
